   @import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500;600;700&display=swap');
   body {
       background-color: #13111B;
       font-family: 'Rubik';
       color: #ffffff;
       font-weight: bold;
   }
   
   .cabecalho {
       display: flex;
       justify-content: space-between;
       padding: 16px 32px 18px 44px;
       border-bottom: 1px solid #292730;
   }
   
   .cabecalho .menu {
       display: flex;
       align-items: center;
       height: 100%;
   }
   
   .cabecalho nav li p {
       padding: 0px 16px;
   }
   
   .cabecalho .imagem {
       width: 50px;
       height: 50px;
       border-radius: 50%;
       box-shadow: 4px 0px 10px rgba(255, 121, 198, 0.25);
   }
   
   .cabecalho input {
       height: 50px;
       width: 363px;
       padding: 0px 16.24px;
       border-radius: 4px;
       box-shadow: 0px 2px 4px rgba(255, 121, 198, 0.25);
   }
   
   .fontTexto {
       font-family: 'Rubik', sans-serif;
       color: #c1bbd3;
       background-color: #191622;
       border: 0px;
   }
   
   main .edit {
       display: inline-block;
       height: calc(100vh - 87.2px);
   }
   
   .principal {
       width: 76%;
       background-color: rgb(42, 39, 249);
   }
   
   .lateral {
       width: calc(24% - 1px);
       border-left: 1px solid pink;
   }
   
   .pergunta {
       background-color: aqua;
       height: 39%;
   }
   
   .pergunta input {
       margin-left: 32px;
       position: absolute;
   }