html, body{
    background-color: rgb(34, 34, 34);
    height: 100%;
    font-family: 'Epilogue', sans-serif;
    letter-spacing: -0.5px;
}

main{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100%;
}

h1{
    align-items: center;
}

.apre-container{
    font-family: 'Epilogue', sans-serif;
    padding: 48px 78px;
    background-color: rgb(34, 34, 34);
}

.container{
    max-width: 1300px;
}

.apre{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#oi{
    text-align: center;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: white;
    background-color: rgb(226, 107, 10);
    border-radius: 5%;
    max-width: 700px;
}

p{
    max-width: 500px;
}

