html, body{
    background-color: #06011d;
    height: 100%;
    font-family: 'Epilogue', sans-serif;
    letter-spacing: -0.5px;
}

main{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100%;
}

.apre-container{
    font-family: 'Epilogue', sans-serif;
    padding: 48px 78px;
    background-color: #06011d;
}

.container{
    max-width: 1280px;
    margin: 0 auto;
}

.apre{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.linguagem{
    display: flex;
    font-family: 'Epilogue', sans-serif;
    color: aliceblue;
    text-align: left;
}

.link {
    flex-direction: column;
    line-height: 10px;
  }
